<div ng-controller="addProgramResource">
    <div class="modal-header">
        <h3 class="modal-title">添加文件</h3>
    </div>
    <div class="modal-body container-fluid">
        <form class="form-horizontal" role="form" name="resourceform">
            <ex-row>
                <ex-column>
                    <!--<ex-textfield ex-field-label="位置Id:" ex-flex-label="2" ng-model="data.DisplayId"-->
                    <!--ng-required="true"></ex-textfield>-->
                    <ex-combobox ex-field-label="显示区域:" ex-flex-label="2" ng-model="data.DisplayId"
                                 ex-datasource="stores.Areas" ex-valueproperty="Code" ng-required="true"
                                 ex-displayproperty="Name"></ex-combobox>
                    <ex-file ex-field-label="文件:" ex-flex-label="2" ng-model="data.Content"
                             ex-server="/ProgramPublish/Resource/Upload"
                             ex-submit="/ProgramPublish/Resource/Merge"></ex-file>
                </ex-column>
            </ex-row>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$close(data)"
                ng-disabled="resourceform.$invalid">
            确定
        </button>
        <button class="btn btn-default" type="button" ng-click="$dismiss()">取消</button>
    </div>
</div>