<div class="container-fluid">
    <form name="exform" role="form" class="form-horizontal">
        <ex-actions>
            <ex-action ex-text="保存" ex-icon="glyphicon glyphicon-ok-sign" ng-click="save()"
                       ng-disabled="exform.$invalid"></ex-action>
            <ex-sp></ex-sp>
            <ex-action ex-text="取消" ex-icon="glyphicon glyphicon-remove-sign" ng-click="$state.back()"></ex-action>
        </ex-actions>
        <ex-row>
            <ex-row>
                <ex-column ex-flex="6">
                    <ex-textfield ex-field-label="角色名:" ex-flex-label="2" ng-model="data.Name"
                                  ng-disabled="data.Name=='Administrators'" ng-required="true"></ex-textfield>
                </ex-column>
            </ex-row>
            <ex-row>
                <ex-column ex-flex="12">
                    <ex-textfield ex-field-label="说明:" ex-flex-label="1" ng-model="data.Description"></ex-textfield>
                </ex-column>
            </ex-row>
        </ex-row>
    </form>
    <ex-valuefield ex-hidden="true" ng-model="data.Id"></ex-valuefield>
</div>